node_modules
logs
*.log
.env
.DS_Store

# Ignore builds
client/dist
client/node_modules
server/dist
server/node_modules

# Allow specific builds if we are forcing them (we might force server/dist)
!server/public
!server/dist
